<h1>Hello, {{.Name}}</h1>
<p>Bio: {{.Bio}}</p>
<p>Role: {{.Role.Name}}</p>
<p>Item1: {{index .Items "key1"}}</p>

<script>
const user = {
    name = {{.Name}},
    bio = {{.Bio}},
    role = {{.Role.Name}}
    item = {{index .Items "key1"}}
}

console.log(user);
</script>
